@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito:ital,wght@0,200;0,300;0,400;1,300;1,400&family=Roboto:ital,wght@1,500&display=swap');

body{
    background-color: #f2eded;
    color: gray;
    margin: 0%;
    box-sizing: border-box;
    padding: 30px;
    font-family: 'Noto Sans', sans-serif;
}
button{
    margin-bottom: 20px;
    font-size: medium;
}

input{
    font-size: medium;
    width: max-content;
}

.title{
    margin-top: 20px;
    box-shadow: 14px 21px 66px 0px rgba(0,0,0,0.73);
-webkit-box-shadow: 14px 21px 66px 0px rgba(0,0,0,0.73);
-moz-box-shadow: 14px 21px 66px 0px rgba(0,0,0,0.73);
border-radius: 10px;
padding: 10px;
height: 80%;
background-color: rgb(76, 37, 82);
color: white;
 display: flex; 
 /* margin-bottom: 30px; */

    
}
.title h2{
    margin-left: 20px;
    background: -webkit-linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    


   
     
   

}
.title h3{
    margin-top: 25px;
    height: auto;
    color: rgb(43, 231, 143);
    
    text-align: justify;
    word-wrap: break-word;
    width: auto;
}

#shortname{
    margin-left: 20px;
}

#producttitle{
    margin-left: 95px;
}

#productdesc{
    margin-left: 85px;
}

#productfromdate{
    margin-left: 25px;
}

#producttodate{
    margin-left: 55px;
}